/* 
A brief selector recap:
div p -- selects all p elements inside all div elements
p.intro -- selects all p elements with class intro
div > p -- selects all p elements where the parent is a div element
div + p -- selects all p elements immediately following div elements
p ~ ul -- selects every ul element preceded by a p element
[target] -- selects all elements with target attribute
*/


@import 'components/reset';
@import 'components/setup';


h1, h2 {
    text-align: center;
}

button {
    margin: 2px 1px;
}

.preview-wrapper {
    height: 350px; 
    width: 350px;
    border: 1px solid #bbb;
    z-index: 999;
    margin: 2em auto;
    
    #preview {
        background-blend-mode: normal;
        background-color: transparent;
        background-image: url('');
        position: relative;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        opacity: 100%;
    }

    #preview2 {
        position: relative;
        background-color: transparent;
        background-blend-mode: normal;
        top: -100%;
        width: 100%;
        height: 100%;
        background-size: 100% 100%;
        background-size: cover;
        clip-path: polygon(50% 0%, 100% 0%, 100% 100%, 50% 100%);
    }
}


.selection-wrapper1 {
    position: absolute;
    width: 50%;
    padding: 0 2em;
}

.selection-wrapper2 {
    position: absolute;
    width: 50%;
    right: 0;
    padding: 0 2em;
}

.buttons {
    margin: 0.5em 0;
}

#filetag1, #filetag2 {
    width: 100%;
    background-color: $grey;
    margin: 1em 0;
}

.color-selection {
    text-align: center;

    label {
        display: block;
    }
}

#opacity-wrapper {
    margin: 0em 1em 1em 1em;
   // display: none;
}