/* 
A brief selector recap:
div p -- selects all p elements inside all div elements
p.intro -- selects all p elements with class intro
div > p -- selects all p elements where the parent is a div element
div + p -- selects all p elements immediately following div elements
p ~ ul -- selects every ul element preceded by a p element
[target] -- selects all elements with target attribute
*/


@import 'components/reset';
@import 'components/setup';

body {
    text-align: center;
}

#preview {
    background-blend-mode: normal;
    background-color: transparent;
    background-image: url('');
    background-size: cover;
    background-position: center;
    height: 350px; 
    width: 350px;
    border: 1px solid #bbb;
}

button {
    margin: 2px 1px;
}